@use '../1-base/_variables'
@use '../1-base/base-mixins'
@use 'layouts-mixins'

.header
  background-color: variables.$bg-color

  &-top
    background-color: variables.$secondary-bg-color
    color: variables.$light-color

    &-container
      @include layouts-mixins.center-content
      padding: .8rem 0

      span
        margin-right: 1rem

      i
        margin-right: .3rem

      a
        color: variables.$light-color

.main-header

  &-container
    @include layouts-mixins.center-content
    padding: 1.3rem 0

    a, span, i
      color: variables.$light-color

    #brand
      font-weight: 900
      font-size:  3rem

      i
        color: variables.$primary-color
        font-size: 2rem
  
  #search-form
    display: flex
    align-items: center
    justify-content: center
    width: 45%

    input
      height: 40px

    #search
      @include layouts-mixins.rounded-input
      width: 60%

  .header-actions-menu
    display: flex
    align-items: center

    .widhlist-container, .header-cart-container
      @include layouts-mixins.header-icon