@use '../1-base/base-mixins'
@use 'layouts-mixins'

.products-grid
  @include layouts-mixins.center-content
  flex-direction: column
  padding: 2rem 0

  h2
    font-size: 2rem
    text-transform: uppercase

  &-container
    display: flex
    justify-content: space-between
    padding: 2rem 0